body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
        background-color:#110942;
}

.banner-column{
    background: #570a37 ;
}

.navbar-container{
    background-color: #262b37;
}